.row
  .span10
    %h1 Services
  .span2
    = link_to 'Create', new_service_path, :class => "btn"

.row
  .span12
    %table.table.table-bordered
      %thead
        %tr
          %th Name
          %th Description
      %tbody
        - @services.each do |service|
          %tr
            %td= link_to service.name, service_path(service)
            %td= service.description
