- @resource = Resource.new unless @resource
= form_for(@resource) do |f|
  = f.hidden_field :service_id, :value => @service.id
  = f.select :type, Resource::TYPES.map { |k,v| k }
  = f.submit "+ Add", :class => "btn btn-success"
